{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "Bahasa Indonesia" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/id/blog/" role="button">Blog</a>
          <p>Berisi cerpen, essai ringan, refleksi, dan jurnal empatik.</p>
        </div>
        <!-- <div class="col-lg-5">
          <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/id/docs/prologue/selamat-datang/" role="button">Dokumentasi</a>
          <p>Berisi beberapa tutorial, informasi dan panduan yang mungkin akan membantumu!</p>
        </div> -->
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        {{/*  <h4>[Under construction]</h4>  */}}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
  {{ if eq $.Site.Language.LanguageName "Bahasa Indonesia" }}
  <section class="section section-md container-fluid bg-light">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h2 class="mt-2">Selamat Menjelajah!</h2>
        <!-- <p class="licence">Konten di situs ini dilisensikan di bawah
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">
            Lisensi Internasional Creative Commons Attribution-ShareAlike 4.0,
          </a> kecuali jika ada keterangan lain.
        </p> -->
        <p class="licence">Aku menulis dari gelap yang tak bernama. Jika kau bisa membacanya, mungkin itu memang untukmu.</p>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md container-fluid bg-light">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        {{/*  <h2 class="mt-2">Happy Exploring!</h2>  */}}
        <p class="licence">Content on this site is licensed under a
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">
            Creative Commons Attribution-ShareAlike 4.0 International License,
          </a> unless otherwise noted.
        </p>
      </div>
    </div>
  </section>
  {{ end }}
{{ end -}}
{{ end }}
