// Put your custom SCSS code here
.privacy .content,
.terms .content,
.about .content,
.contributors .content,
.blog .content,
.page .content {
  text-align: justify;
}

.center {
  text-align: center;
  align-items: center;
}
